*{
    --main-text-color: #000000;
    --main-bg-color: #ffffff;
    font-family: "Lato", sans-serif;
    color: var(--main-text-color)
}

h1{
    text-align: center;
    margin-top: 2rem;
}

header{
    background-color: #f8f8f8;
    padding: 1rem;
    margin-bottom: 2rem;
}

nav{
    display:flex;
    justify-content: center;
    gap: 2rem;
}

nav a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: #f8f8f8;
    margin-top: 2rem;
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

}