h1{
    text-align: center;
    margin-top: 2rem;
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.project-list{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

}

header{
    background-color: #f8f8f8;
    padding: 1rem;
    margin-bottom: 2rem;
}

nav{
    display:flex;
    justify-content: center;
    gap: 2rem;
}

footer{
    text-align: center;
    padding: 1rem;
    background-color: #f8f8f8;
    margin-top: 2rem;
}